.App {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  background-color: #dadbd3;
  height: 100vh;

}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/

}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/

}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

}
.app__body{
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0);

}
